* html {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

nav {
    background-color: rgba(194, 194, 194, 0.172);
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

nav div img {
    width: 60px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}